data/schedules/~$bigten.xlsx
data/.ipynb_checkpoints/get_links_2.csv-checkpoint.ipynb
data/schedules/.DS_Store
data/.DS_Store
.DS_Store
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/feature_selection-checkpoint.ipynb
.ipynb_checkpoints/game_id-checkpoint.ipynb
.ipynb_checkpoints/get_box_score-checkpoint.ipynb
.ipynb_checkpoints/get_links_2-checkpoint.ipynb
.ipynb_checkpoints/get_links-checkpoint.ipynb
.ipynb_checkpoints/Notes_beginning-checkpoint.ipynb
.ipynb_checkpoints/Scrape_New_NCAA_Data-checkpoint.ipynb
